.input {
  width: 100%;
  height: 40px;
  font-size: 0.9em;
  background-color: #fff;
  color: black;
  border: none;
  text-align: center;
}

.dark_background {
  background-color: var(--dark-input-background);
}

.input::placeholder {
  font-size: 0.9rem;
}