.register_body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  font-family: Poppins, sans-serif;
  color: #fff;
}

.patas_container {
  width: 120px;
}

.side_border_container {
  height: 100vh;
}

.left_side_border_container {
  width: 57px;
  bottom: 110px;
}

.content {
  padding-top: 100px;
}

.container {
  color: var(--blue);
}

.text {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  padding-bottom: 15px;
}

.logo_container {
  height: 46px;
  margin-bottom: 30px;
}

.margin_bottom_field {
  margin-bottom: 20px;
}

.label {
  color: var(--grey);
  margin-bottom: 6px;
}

@media only screen and (min-width: 768px) {
  .patas_container {
    width: 184px;
  }

  .content {
    padding-top: 103px;
  }

  .logo_container {
    height: 62px;
  }

  .text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .patas_container {
    width: 210px;
  }

  .content {
    padding-top: 140px;
  }
}

@media only screen and (min-width: 406px) {
  .left_side_border_container {
    width: 65px;
  } 
}

@media only screen and (min-width: 610px) {
  .side_border_container {
    width: 70px;
  } 
}

@media only screen and (min-width: 870px) {
  .side_border_container {
    width: 75px;
  } 
}

@media only screen and (min-width: 870px) {
  .side_border_container {
    width: 80px;
  } 
}

@media only screen and (min-width: 1200px) {
  .side_border_container {
    width: 90px;
  } 
}

@media only screen and (min-width: 1500px) {
  .side_border_container {
    width: 100px;
  } 
}

@media only screen and (min-width: 1700px) {
  .side_border_container {
    width: 120px;
  } 
}