:root {
  /*-------------- PALETA DE CORES ------------------*/
  --blue: #3772FF;
  --green: #36D6AD;
  --coral: #FC7071;
  --cream: #FCF0E3;
  --grey: #737380;
  --light-grey: #BCBCBC;
  --withe: #F7F7F7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
