.home_body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--blue);
  max-height: 100vh;
  font-family: Poppins, sans-serif;
}

.logo_container {
  width: 186px;
  color: #fff;
}

.home_content {
  padding-top: 130px;
}

.welcome_msg {
  font-weight: 500;
  font-size: 26px;
  margin-top: 18px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .logo_contaier {
    width: 251px;
  }

  .home_content {
    padding-top: 163px;
  }

  .welcome_msg {
    font-size: 28px;
  }

  .description {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .home_content {
    padding-top: 140px;
  }
}