.home_body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--blue);
  max-height: 100vh;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.home_content {
  padding-top: 100px;
}

.logo {
  margin-bottom: 0;
}

.logo_container {
  height: 46px;
}

.welcome_msg {
  font-weight: 500;
  font-size: 26px;
  margin-top: 18px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.btn_container {
  margin-top: 15px;
}

.animals_container {
  bottom: 67px;
}

.side_border_container {
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .home_content {
    padding-top: 103px;
  }

  .logo_container {
    height: 62px;
  }

  .welcome_msg {
    font-size: 28px;
  }
  
  .description {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .home_content {
    padding-top: 140px;
  }
}

@media only screen and (max-width: 260px) {
  .animals_container {
    bottom: 50px;
  }  
}

@media only screen and (min-width: 406px) {
  .side_border_container {
    width: 50px;
  } 
}

@media only screen and (min-width: 610px) {
  .side_border_container {
    width: 70px;
  } 
}

@media only screen and (min-width: 870px) {
  .side_border_container {
    width: 75px;
  } 
}

@media only screen and (min-width: 870px) {
  .side_border_container {
    width: 80px;
  } 
}

@media only screen and (min-width: 1200px) {
  .side_border_container {
    width: 90px;
  } 
}

@media only screen and (min-width: 1500px) {
  .side_border_container {
    width: 100px;
  } 
}

@media only screen and (min-width: 1700px) {
  .side_border_container {
    width: 120px;
  } 
}