.feed_body {
  width: 100vw;
  background-color: var(--background);
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.side_border_container {
  height: 100vh;
  width: 90px;
}

.content {
  padding-top: 100px;
  padding-bottom: 80px;
}

.page_description {
  color: var(--blue);
  font-size: 16px;
  margin-bottom: 32px;
}

.animals_list_container {
  margin-bottom: 34px;
}

/* --------------- MEDIA QUERY --------------*/

@media only screen and (min-width: 768px) {
  .page_description {
    font-size: 18px;
  }
}