.header_body {
  z-index: 0;
  width: 100vw;
}

.icons_container {
  margin-top: 35px;
  margin-left: 33px;
}

@media only screen and (max-width: 768px) {
  .icons_container {
    margin-top: 40px;
    margin-left: 28px;
  }
  
  .logo_container {
    display: none;
  }
}

@media only screen and (max-width: 315px) {
  .icons_container {
    margin-top: 28px;
    margin-left: 10px;
  }
}