.input {
  background-color: #fff;
  color: black;
  border: none;
  height: 40px;
  text-align: center;
  width: 100%;
  font-size: 12px
}

.dark_background {
  background-color: var(--dark-input-background);
}

.input::placeholder {
  font-size: 0.9rem;
}

.eye_icon {
  color: #999999;
  margin-left: -40px; 
  cursor: pointer;
  font-size: 20px;
  margin-top: 4.5px;
  
}
