.footer {
  width: 100vw;
  height: 90px;
  background-color: var(--green);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.year {
  margin-bottom: 0;
}

@media only screen and (min-width: 1440px) {
  .footer {
    height: 80px;
  }
}